/*****Design Brief for Chamber of Commerce Directory Page*****/
/* Primary Color: #A0BEE5
   Secondary Color: #9B8FD6
   Background Color: #F2F5FA
   Text Color: #2C2C2C
   Font Family: Bona Nova SC
*****/
:root {
    --primary-color: #A0BEE5;
    --secondary-color: #9B8FD6;
    --background-color: #F2F5FA;
    --text-color: #2C2C2C;
    --font-family: 'Bona Nova SC', serif;
}

* {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

/*******Header*******/
header {
    display: grid;
    grid-template-columns: 75px auto 44px;
    padding: 10px;
    align-items: end;
    column-gap: 8px;
    background-color: var(--primary-color);
}

header span {
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
    align-self: center;
    background-color: var(--primary-color);
    
}

header img {
    width: 75px;
    height: 75px;
    margin: 2px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****Hamburger Menu*****/
.hamburger {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

.hamburger::after{
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after{
    content: "\00d7";
    font-size: 2rem;
}

/*****Navigation*****/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current a{
    background-color: #ccc;
}

.navigation a:hover, .navigation li.current a:hover {
    background-color: var(--secondary-color);
}

/**********Footer**********/
footer {
    background-color: var(--primary-color);
    padding: 1rem 10px;
    text-align: center;
    line-height: .3rem;
    margin-top: 10px;
}

.yes {
    font-weight: 700;
}

.info, .info p, .student, .student p {
    background-color: var(--primary-color);
    text-align: left;
}

#currentyear {
    background-color: var(--primary-color);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    background-color: var(--primary-color);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--text-color) solid 1px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
}

.social img {
    width: 32px;
    height: 32px;
    background-color: var(--primary-color);
}

.social a:hover {
    background-color: #ddd;
}

/**********Main Directory**********/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.list {
  display: block;
  margin-top: 10px;
}

.member-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.list .member-card {
  margin-bottom: 15px;
}

.list .member-card img {
  display: none;
}

.grid .member-card {
    text-align: center;
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 1.2rem;
}

/*********Buttons**********/
#gridViewBtn, #listViewBtn {
  border: 1px solid #ddd;
  background-color: var(--background-color);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;               
  align-items: center;         
  justify-content: center;     
}

.view-toggle {
  display: flex;
  gap: 5px;
  justify-content: flex-start; /* or center, if you prefer */
  margin-bottom: 20px;
  background-color: var(--background-color);
}

/***********Home Page***********/
.spotlight-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.spotlight-grid .card {
  margin-bottom: 15px;
}

.spotlight-grid .card {
    text-align: center;
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 1.2rem;
}

/**********Main**********/
.h2 {
    background-color: var(--text-color);
    color: var(--primary-color);
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
}

.weather1 {
    display: grid;
    grid-template-columns: 150px auto;
}

.weather1 h2 {
    grid-area: 1 / 1 / 1 / 3;
}

.weather1 img {
    background-color: var(--primary-color);
    margin: 15px 5px 35px 15px;
    border-radius: 5px;
}

.weather-data {
    line-height: 10px;
    font-size: 1.2rem;
} 

.weather2 {
    font-size: 1.2rem;
    border-bottom: solid 3px var(--text-color);
    margin-bottom: 3rem;
}

.hero {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px auto;
    text-align: center;
}

.joinbtn {
    display: block;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    font-size: 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    width: 300px;
}

.joinbtn:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.3rem;
    border-radius: 20px;
    text-decoration: none;
}

/********Join Page Form**********/
form {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.formh, .formp {
    margin-left: 5px;
}

.form-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
}

.form-body {
    font-size: 1.2rem;
}

.form-header input[type="text"],
.form-header input[type="email"],
.form-header input[type="tel"],
.form-header select,
.form-header textarea {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 44px;
    font-size: 1.1rem;
}

.form-body input[type="text"], 
.form-body input[type="email"],
.form-body select,
.form-body textarea  {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 44px;
    font-size: 1rem;
}

input:required,
textarea:required,
select:required {
  box-shadow: inset 4px 0 0 0 red;
  padding-left: 8px;
}

input:valid,
textarea:valid,
select:valid {
  box-shadow: inset 4px 0 0 0 green;
  padding-left: 8px; 
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
}

input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    width: 100%;
    box-shadow: none;
}

input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.3rem;
    border-radius: 20px;
    text-decoration: none;
}

.notrequired input[type="text"],
.notrequired select,
.notrequired textarea {
    box-shadow: none;
    border: 1px solid var(--text-color);
}


/**********Modals**********/
.membership-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
  animation: fadeIn 1s ease-in;
  margin-bottom: 30px;
}

.card.np, .card.np h3 {
    background-color: var(--primary-color);
}

.card.bronze, .card.bronze h3 {
    background-color: burlywood;
}

.card.gold, .card.gold h3 {
    background-color: gold;
}

.card.silver, .card.silver h3 {
    background-color: silver;
}

.card {
  border: 2px solid var(--text-color);
  padding: 1rem;
  background: var(--background-color);
  transition: transform 0.3s ease;
  opacity: 0;
  animation: slideUp 1s forwards;
  margin-bottom: 10px;
}

.card h3 {
  text-align: center;
  font-size: 1.3rem;
}

.card a {
  text-decoration: none;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--background-color);
  margin: 10px 0px;
}

.card:hover {
  transform: scale(1.02);
}

/**********Modal Animation**********/
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: var(--background-color);
  margin: 10% auto;
  padding: 1rem;
  max-width: 400px;
  border-radius: 8px;
  animation: fadeIn 0.3s ease-in-out;
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

/**********Discover Page**********/
.place-card {
    margin: 1rem 8px;
    padding: 5px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background-color);
    
    display: grid;
    grid-template-areas: 
    "title"
    "photo"
    "description"
    "address"
    "button";
}

.place-card h2 {
    grid-area: title;
    font-size: 1.5rem;
    text-align: center;
}

.place-card img {
    grid-area: photo;
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
}

.place-card p {
    grid-area: description;;
}

.place-card address {
    grid-area: address;
    margin-top: 5px;
    color: var(--text-color);
}

.place-card a {
    grid-area: button;
    width: 200px;
    text-align: center;
    margin: 15px auto 10px auto;
    padding: 10px 0;
    text-decoration: none;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
    border-radius: 15px;
    color: var(--text-color);
}

.place-card a:hover {
    font-style: italic;
    text-decoration: underline;
    font-size: 1.3rem;
}

aside {
    text-align: center;
}