@media screen and (min-width: 64rem) {
    header, nav, main, footer {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header {
        grid-template-columns: 75px auto;
    }
    
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
        width: 100%;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        gap: 5rem;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
        background-color: var(--secondary-color);
        color: var(--text-color);
        font-size: 1.2rem;
        border-radius: 5px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .social a:hover {
        background-color: var(--primary-color);
    } 

    .list .member-card {
        line-height: 10px;
    }   

    .mainindex {
        display: grid;
        grid-template-columns: 450px 1fr 1fr;
        gap: 20px;
        padding-bottom: 50px;
        border-bottom: solid 3px var(--text-color);
    }
    
    .weather1, .weather2, .events {
        border: 1px solid #ccc;
        height: 100%;
        border-radius: 5px;
        background-color: var(--background-color);
    }

    .weather1 {
        grid-template-columns: 100px auto;
        margin-left: 0px;
    }

    .weather1 img {
        margin: 0 0 0 5px;
        background-color: var(--primary-color);
        border-radius: 15px;
        width: 75px;
        height: 75px;
    }

    .weather-data {
        font-size: 1rem;
        margin-top: -15px;
        margin-left: -15px;
    }

    .weather2 p{
        padding-left: 10px;
    }

    .spotlight-grid {
        margin-top: 50px;
    }

    .form-container {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 20px;
    }

    .allplaces {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .place-card {
    grid-template-areas: 
    "title title"
    "photo description"
    "photo address"
    "button button";
    }

   
}