@media screen and (min-width: 600px) {
    .heroA {
        position: relative;
    }

    .openModal {
        position: absolute;
        bottom: 50px;
        left: 30px;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }       

    #services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}